<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                
                    <app-reporte-list-clientes></app-reporte-list-clientes>
                
                <mat-tab-group>

                    <mat-tab label="Capital General">
                        <app-reporte-capital></app-reporte-capital>
                    </mat-tab>

                    <mat-tab label="Proximos a pagar">
                        <app-proximos-pagar></app-proximos-pagar>
                    </mat-tab>

                    <mat-tab label="Pagos atrasados">    
                        <app-deudores></app-deudores>
                    </mat-tab>
                    
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>