
<div class="card fondo ">
    <div class="card-body">
        <h4 class="mb-32">Datos del Cliente</h4>
        <form [formGroup]="form">

            
        
                <img [src]='form.value.fotoUrl' width="200">
                <div class="nueva"  *ngIf="!verificadorFoto">
                    <p>Nueva Foto</p>
                    <img [src]='foto' width="200">
                </div>
                
                <div class="imagenes">
                    <input type="file" (change)="newImageUpload($event)">
                </div>
        <!--
            <div *ngIf="getValidacion('fotoUrl')?.invalid && (getValidacion('fotoUrl')?.touched || getValidacion('fotoUrl')?.dirty)  "
            class="rojo">
            <div *ngIf="getValidacion('fotoUrl')?.errors?.['required']" class="rojo">
                *La "foto" es requerida.
            </div>
        </div>
        
    -->
            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Nombre" name="nombre" formControlName="nombre">

                <div *ngIf="getValidacion('nombre')?.invalid && (getValidacion('nombre')?.touched || getValidacion('nombre')?.dirty)  "
                    class="rojo">
                    <div *ngIf="getValidacion('nombre')?.errors?.['required']" class="rojo">
                        *El "Nombre" es requerido.
                    </div>
                </div>

            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Marca</mat-label>
                <input matInput type="text" placeholder="marca" name="marca" formControlName="marca">

                <div *ngIf="getValidacion('marca')?.invalid && (getValidacion('marca')?.touched || getValidacion('apellido')?.dirty)  "
                    class="rojo">
                    <div *ngIf="getValidacion('marca')?.errors?.['required']" class="rojo">
                        *La "marca" es requerido.
                    </div>
                </div>

            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Modelo</mat-label>
                <input matInput type="text" placeholder="modelo" name="modelo" formControlName="modelo">

                <div *ngIf="getValidacion('modelo')?.invalid && (getValidacion('modelo')?.touched || getValidacion('modelo')?.dirty)  "
                class="rojo">
                <div *ngIf="getValidacion('modelo')?.errors?.['required']" class="rojo">
                    *El "modelo" es requerido.
                </div>
            </div>

            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Tipo</mat-label>
                <input matInput type="text" placeholder="tipo" name="tipo" formControlName="tipo">
                <div *ngIf="getValidacion('tipo')?.invalid && (getValidacion('tipo')?.touched || getValidacion('tipo')?.dirty)  "
                class="rojo">
                <div *ngIf="getValidacion('tipo')?.errors?.['required']" class="rojo">
                    *El "tipo" es requerido.
                </div>
            </div>
            </mat-form-field>

            <mat-form-field class="w-100 fs-16" appearance="outline">
                <mat-label>Color</mat-label>
                <input matInput type="text" placeholder="color" name="color" formControlName="color">
                <div *ngIf="getValidacion('color')?.invalid && (getValidacion('color')?.touched || getValidacion('color')?.dirty)  "
                class="rojo">
                <div *ngIf="getValidacion('color')?.errors?.['required']" class="rojo">
                    *El "color" es requerido.
                </div>
            </div>
            </mat-form-field>
            
            <br><br>

            <button (click)="agregarEditar()" mat-raised-button class="me-8 mb-8" color="primary"
                type="submit">Guardar</button>

            <button mat-raised-button class="me-8 mb-8" color="warn" type="submit"
                (click)="cancelar()">Cancelar</button>
        </form>


    </div>
</div>