
<!-- Daily Activity -->
<mat-card class="w-100">
    <div class="container mt-4 fondo visualizacion">
        <div class="card">
            <div class="card-body">
                <h3 class="h3"> Proximos a pagar mas cercanos de este mes</h3>
                <table class="table table-striped mt-5" id="table">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Fecha de Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pagos of pagosHoy">
                            <td>
                                <img class="zoom" [src]="pagos.fotoUrl" width="50">
                            </td>
                            <td>{{pagos.nombre | json}}</td>
                            <td>{{pagos.fecha | json}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</mat-card>
