
<!-- Daily Activity -->
<mat-card class="w-100">
    <button (click)="obtenerTarjeta()" mat-button color="primary">iniciar</button>
    <mat-card-content>
        <h4 class="mb-56">Proximos a Pagar</h4>

        <div class="table-responsive">
            <table mat-table [dataSource]="ventasGuadadas" class="text-nowrap w-100">

                
                <ng-container matColumnDef="Prestamo">
                    <th mat-header-cell *matHeaderCellDef> Cantidad del Prestamo </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="mb-0 fw-medium">{{ element.nombre|json }}</p>
                        
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="Cliente">
                    <th mat-header-cell *matHeaderCellDef> id del cliente Cliente </th>
                    <td mat-cell class="fw-medium" *matCellDef="let element"> {{ element.fechaPago|json }} </td>
                </ng-container>

                <ng-container matColumnDef="Cotizacion">
                    <th mat-header-cell *matHeaderCellDef> id de la Cotizacion </th>
                    <td mat-cell class="fw-medium" *matCellDef="let element"> {{ element.dpi|json }} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>
