.sidenav-container {
  height: 100%;
  background-color: rgb(121, 121, 121);

}

.sidenav {
  width: 200px;
  color: white;
background-color: rgb(70, 70, 70);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

img{
  overflow: hidden;
  height: 120px;
  border-radius: 15px;
}

.bloqueado{
  opacity: 0.2;
}

.fondo{
  height: 100%;
  background: rgb(39, 40, 34);
  display: flex;
  justify-content: center;
  align-items: center;

}
.boton{
  background: rgb(199, 48, 48) ;
}